# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Tailwind CSS
theme/static_src/node_modules/
theme/static_src/.npm/
theme/static_src/.cache/

# OS
.DS_Store
Thumbs.db 